<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LiveRoomModel</key>
	<string>HTSLiveRoom</string>
	<key>IESLiveRoomLabel</key>
	<string>HTSLiveFeedRoomLabel</string>
	<key>LiveRoomURLModel</key>
	<string>HTSLiveStreamUrl</string>
	<key>LiveRoomPullData</key>
	<string>HTSLiveStreamUrl_LiveCoreSDKData_PullData</string>
	<key>LiveRoomCoreSDKData</key>
	<string>HTSLiveStreamUrl_LiveCoreSDKData</string>
	<key>IESLiveFilterMsgRulesInfo</key>
	<string>HTSLiveFilterMsgRule</string>
	<key>HTSLiveUserWithTopFansInRoom</key>
	<string>HTSLiveTopFan</string>
	<key>IESLiveShortTouchModel</key>
	<string>HTSLiveShortTouchItem</string>
	<key>IESLiveShortTouchPreviewModel</key>
	<string>HTSLiveShortTouchPreviewSetting</string>
	<key>LiveRoomDynamicCoverModel</key>
	<string>HTSLiveImage</string>
	<key>LiveRoomCommerce</key>
	<string>HTSLiveCommerceStruct</string>
	<key>IESLiveEventCard</key>
	<string>EventCard</string>
	<key>IESLiveRoomPollInfo</key>
	<string>IESLivePollInfo</string>
	<key>LiveRoomSkin</key>
	<string>HTSLiveSkin</string>
	<key>LiveRoomSkinAccount</key>
	<string>HTSLiveSkinHostAccount</string>
	<key>LiveRoomSkinDrawerEntrance</key>
	<string>HTSLiveSkinDrawerEntrance</string>
	<key>IESLiveRoomAuthMessage</key>
	<string>HTSLiveRoomAuthMsg</string>
	<key>IESLiveRoomPictionaryFullInfo</key>
	<string>IESLivePictionaryFullInfo</string>
	<key>IESLiveRoomPictionaryInfo</key>
	<string>IESLivePictionaryInfo</string>
	<key>IESLiveRoomTopFrameInfo</key>
	<string>HTSLiveTopFrameSummary</string>
	<key>GBLBCToggleInfo</key>
	<string>HTSLiveBCToggleInfo</string>
	<key>HTSLiveRoomLinkMicModel</key>
	<string>HTSLiveLinkMic</string>
	<key>BattleInfoResponse_ResponseData</key>
	<string>HTSLiveLinkMic_BattleInfo</string>
	<key>IESLiveOfficialChannel</key>
	<string>HTSLiveOfficialChannelInfo</string>
	<key>IESLiveCommentBox</key>
	<string>HTSLiveCommentBox</string>
	<key>IESLiveTopicItem</key>
	<string>HTSLiveHashtag</string>
	<key>IESLiveWarningTag</key>
	<string>HTSLiveWarningTag</string>
	<key>HTSLiveDisplayTextModel</key>
	<string>HTSLiveText</string>
	<key>HTSLivePieceModel</key>
	<string>HTSLiveTextPiece</string>
	<key>HTSLivePatternPieceModel</key>
	<string>HTSLiveTextPiecePatternRef</string>
	<key>HTSLiveUserPieceModel</key>
	<string>HTSLiveTextPieceUser</string>
	<key>HTSLiveGiftPieceModel</key>
	<string>HTSLiveTextPieceGift</string>
	<key>HTSLivePatternModel</key>
	<string>HTSLivePatternRef</string>
	<key>HTSLiveHeartPieceModel</key>
	<string>HTSLiveTextPieceHeart</string>
	<key>HTSLiveTextFormatModel</key>
	<string>HTSLiveTextFormat</string>
	<key>IESLiveMaskLayer</key>
	<string>HTSLiveMaskLayer</string>
	<key>GBLPreviewRoomTagModel</key>
	<string>HTSLiveFYPRoomTag</string>
	<key>GBLPreviewRoomTagItemModel</key>
	<string>HTSLiveFYPRoomTagItem</string>
	<key>IESLiveRoomSocialInteraction</key>
	<string>SocialInteraction</string>
	<key>IESLiveRoomMultiLive</key>
	<string>MultiLive</string>
	<key>IESLiveRoomAudienceMultiGuestPermissionInfo</key>
	<string>RoomAudienceMultiGuestPermissionInfo</string>
	<key>IESLiveRoomHostMultiGuestPermissionInfo</key>
	<string>RoomHostMultiGuestPermissionInfo</string>
	<key>IESLiveRoomCoHost</key>
	<string>Cohost</string>
	<key>IESLiveRoomSocialInteractionUser</key>
	<string>LinkmicUser</string>
	<key>IESLiveRoomCreator</key>
	<string>HTSLiveCreator</string>
	<key>IESLiveShortTouchPreviewImageModel</key>
	<string>HTSLiveImage</string>
	<key>IESLiveRoomShowInfo</key>
	<string>HTSLiveShowInfo</string>
	<key>IESLivePromoteOtherMessage</key>
	<string>HTSLivePromoteOtherMessage</string>
	<key>IESLiveSubPinCardModel</key>
	<string>SubPinCard</string>
	<key>IESLiveSubPinCardText</key>
	<string>SubPinCard_Text</string>
</dict>
</plist>
